/* Nav for footer*/

footer{
    display: flex;
        justify-items: center;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-around;

    padding-top: 1rem;

}