 #sidenav {
     height: 100%;
     width: 0;
     position: fixed;
     z-index: 1;
     top: 0;
     right: 0;
     background-color: #111;

     overflow-x: hidden;
     transition: 0.5s;
     padding-top: 60px;

     > li {
        padding: 8px 8px 8px 32px;
     }

 }